server:
  port: 8080
  servlet:
    context-path: /oliolishop
    multipart:
      enabled: true
      max-file-size: 10MB
      max-request-size: 20MB

spring:
  profiles:
    active: local
#  datasource:
#    url: jdbc:mysql://localhost:3306/olioli
#    username: root
#    password: 12345
#  jpa:
#    hibernate:
#      ddl-auto: none
#    show-sql: true
#  data:
#    redis:
#      host: localhost
#      port: 6379
#  mail:
#    host: smtp.gmail.com
#    port: 587
#    username: nguyenquocvuong12321@gmail.com
#    password: ugpk bfcy qodk dsqm
#    properties:
#      mail:
#        smtp:
#          auth: true
#          starttls:
#            enable: true

datasource:
  url: jdbc:mysql://localhost:3306/olioli
  username: root
  password: 12345
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
  data:
    redis:
      host: localhost
      port: 6379
  mail:
    host: smtp.gmail.com
    port: 587
    username: nguyenquocvuong12321@gmail.com
    password: ugpk bfcy qodk dsqm
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true


app:
  image-dir: D:/HocTap/AI/crawl/images

jwt:
  signerKey: "c248f3c5b1e84f8d1198d01488ee23a18360ce904c9eae484072de278cf2b6cc"
