server:
  port: 8080
  servlet:
    context-path: /oliolishop

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/olioli
    username: root
    password: 12345
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
  data:
    redis:
      host: localhost
      port: 6379
