server:
  port: 8080
  servlet:
    context-path: /oliolishop
    multipart:
      enabled: true
      max-file-size: 10MB
      max-request-size: 20MB

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/olioli
    username: root
    password: 12345
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
  data:
    redis:
      host: localhost
      port: 6379

app:
  image-dir: D:/HocTap/AI/crawl/images
