server:
  port: 8080
  servlet:
    context-path: /oliolishop
    multipart:
      enabled: true
      max-file-size: 10MB
      max-request-size: 20MB
    encoding:
      enabled: true
      charset: UTF-8
      force: true

spring:
  datasource:
    url: jdbc:mysql://${DB_HOST:localhost}:${DB_PORT:3306}/olioli
    username: ${DB_USERNAME:root}
    password: ${DB_PASSWORD:12345}
  jpa:
    hibernate:
      ddl-auto: none
  data:
    redis:
      host: ${REDIS_HOST:localhost}
      port: ${REDIS_PORT:6379}
  mail:
    host: smtp.gmail.com
    port: 587
    username: ${MAIL_USERNAME:nguyenquocvuong12321@gmail.com}
    password: ${MAIL_PASSWORD:ugpk bfcy qodk dsqm}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
  mvc:
    charset: UTF-8
    http:
      encoding:
        charset: UTF-8
        enabled: true
        force: true

app:
  image-dir: ${IMAGE_DIR:D:/HocTap/AI/crawl/images}

jwt:
  signerKey: ${JWT_PRIVATE_KEY:c248f3c5b1e84f8d1198d01488ee23a18360ce904c9eae484072de278cf2b6cc}
